body {
    background-color: #d0c4e4;
  }
  
  #main-navigation {
    background-color: #5b3e5d;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  
  #summary {
    margin: 8rem auto 3rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 90rem;
    border-radius: 16px;
    background-color: #bc98c7c6;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: 22rem;
  }
  
  #summary h2 {
    color: white;
    font-size: 4.5rem;
    margin-bottom: 0.25rem;
  }
  
  #summary article {
    position: absolute;
    top: 2rem;
    right: 3rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    text-align: right;
    color: rgb(241, 207, 240);
  }
  
  #summary article img {
    width: 12rem;
    height: 12rem;
    border-radius: 12px;
    transform: rotateZ(5deg);
    border: 5px solid white;
    margin-bottom: 1rem;
  }
  
  #summary address {
    font-weight: bold;
  }
  
  #summary time {
    font-weight: bold;
  } 
  
  main {
    width: 90%;
    max-width: 90rem;
    margin: 3rem auto;
    background-color: rgb(184, 146, 185);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  .tag {
    background-color: rgb(128, 56, 121);
    color: #ebe1ed;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }